/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- ALL STYLES --- */
body {
    background-color: lightsalmon;
}

/* --- MOBILE STYLES --- */
h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 12px;
}

#dogContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

img {
    height: 192px;
    width: 108px;
}

/* --- TABLET STYLES --- */
@media screen and (min-width:600px) {
    h1 {
        font-size: 50px;
    }
    
    img {
        height: 256px;
        width: 144px;
    }

}

/* --- DESKTOP STYLES --- */
@media screen and (min-width:1200px) {
    h1 {
        font-size: 64px;
    }

    img {
        height: 384px;
        width: 216px;
    }

}